main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 60px;
}
#content {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.pokemon-img-div {
  height: 70%;
  display: flex;
  align-items: center;
}
.pokemon-card-img {
  width: 240px;
  height: 340px;
  background-position: center;
  background-size: cover;
  border: solid 12px rgb(240, 236, 32);
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.pokemon-name {
  font-size: 32px;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
  font-weight: 500;
  margin-top: 16px;
}
.pokemon-img {
  width: 100px;
}
.pokemon-types {
  font-size: 24px;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
  font-weight: 500;
  margin-bottom: 8px;
  padding: 4px 8px 4px 8px;
  border: solid 2px black;
  border-radius: 8px;
}
.pokemon-id-2 {
  font-size: 16px;
  color: black;
  filter: drop-shadow(2px 2px 2px black);
  font-weight: 300;
}
#load-more {
  background-image: url(../assets/img/Leonardo_Phoenix_Create_a_loading_card_in_a_retro_8bit_pixel_a_3.jpg);
  height: 320px;
  width: 220px;
  border: solid 5px black;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  margin-top: 32px;
  margin-bottom: 100px;
}
